DATASET="egoexo4d"
VAL="False"
MODEL_PATH="/private/home/arjunrs1/CliMer/checkpoints/egoexo4d/epoch_99.pth"
VIDEO_FEATURE_PATH="/private/home/arjunrs1/egoexo4d_features/checkpoint/yalesong/EgoExo4D_EgoVLPv2_arxivC/extracted_features_egovlp2/EgoVLPv2_Pretraining_bs512-lr3e_5-Ep20"
CAPTION_DATA_TRAIN="/private/home/arjunrs1/CliMer/data/egoexo4d/egoexo4d_all_views_keysteps_train.csv"
CAPTION_DATA_VAL="/private/home/arjunrs1/CliMer/data/egoexo4d/egoexo4d_exos_keysteps_val.csv"
CAPTION_DATA_TEST="/private/home/arjunrs1/CliMer/data/egoexo4d/egoexo4d_exos_keysteps_test.csv"
WINDOW_DATA_TEST="/private/home/arjunrs1/egoexo4d_features/mismatched_removed/grounding_test_exo_ks=True_ct=False_exos=all_windows.csv"
EGO4D_METADATA="data/ego4d/ego4d_metadata.csv"
EPIC_METADATA="data/epic/EPIC_metadata.csv"
EGOEXO4D_TRAIN_METADATA="/private/home/arjunrs1/exo_narration_grounding/splits/egoexo4d_splits/train.csv"
EGOEXO4D_VAL_METADATA="/private/home/arjunrs1/exo_narration_grounding/splits/egoexo4d_splits/val.csv"
EGOEXO4D_TEST_METADATA="/private/home/arjunrs1/exo_narration_grounding/splits/egoexo4d_splits/test.csv"
USE_KEYSTEPS=True
EPIC_ALL_DATA="data/epic/EPIC_train.csv"
EGOEXO4D_ALL_DATA="/private/home/arjunrs1/exo_narration_grounding/data_processing/time_interval_annotation_files/keystep_annotations/train.csv"
BERT_FEATURES="/private/home/arjunrs1/egoexo4d_features/narration_features/keystep_features"
RESULTS_PATH="results/egoexo4d/"
EGOVLP_DATA="data/ego4d/egovlp_params_correct.json"
LOG_DIR="logs/egoexo4d"
LEARNING_RATE=1e-5
TRAIN_BATCH_SIZE=64
EPOCHS=100
VAL_FREQUENCY=1
LOG_FREQUENCY=10
CHECKPOINT_SAVE_PATH="checkpoints/egoexo4d"
CHECKPOINT_FREQUENCY=1
WORKER_COUNT=6
SAME_VID_SAMPLING=True
CROSS_ATTENTION=True
BALANCED=True
COMBINE=True
FIXED_CLIP_LENGTH="None"
CLIP_ADJACENT_TIMESTAMPS="None"
EGOVLP=False
PRED_THRESHOLD=0.8
FPS=30
FEATURE_STRIDE=30
SEG_SIZE=2000
OVERLAP=1000
VISUAL_FEATURE_ORIG_DIM=4096
CAP_ORIG_DIM=4096
SHARED_PROJECTION_DIM=2048
FEATURE_EMBED_DIM=3072
LINEAR_HIDDEN_DIM=1024
NUM_HEADS=6
RANDOM_BASELINE=True
